body {
  background-color: #f8f9fa;
}

.container {
  max-width: 600px;
}

#chargersList .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.charger-actions {
  margin-left: auto;
}
